{
  "root": true,
  "extends": [
    "@shlinkio/js-coding-standard"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["**/app/routes/**", "vite*.config.ts"],
      "rules": {
        "no-restricted-exports": "off"
      }
    },
    {
      "files": ["**/app/db/migrations/**"],
      "rules": {
        "class-methods-use-this": "off"
      }
    }
  ]
}
