{
  "root": true,
  "extends": [
    "@shlinkio/js-coding-standard"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [{
    "files": ["**/app/routes/**"],
    "rules": {
      "no-restricted-exports": "off"
    }
  }]
}
