@import '../node_modules/@shlinkio/shlink-frontend-kit/dist/base'; // Before bootstrap stylesheet. Includes SASS var overrides
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/@shlinkio/shlink-frontend-kit/dist/index'; // After bootstrap. Includes CSS overwrites
@import '../node_modules/@shlinkio/shlink-web-component/dist/index';
@import 'tailwind';

.app {
  padding-top: $headerHeight;
}

.main-header.main-header {
  color: white;
  background-color: var(--brand-color) !important;

  .navbar-brand {
    color: inherit !important;
  }
}
