@import 'tailwindcss' prefix(tw);

@theme {
  --color-brand: #4696e5;
  /* --color-brand: #2078CF; // Properly accessible */
  --color-brand-dark: #1f69c0;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-placeholder: #6c757d;
}

@layer base {
  a {
    @apply tw:text-brand;
  }

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
  }

  hr {
    @apply tw:my-3
  }
}

@utility focus-ring-base {
  @apply tw:outline-none tw:focus-visible:ring-3 tw:transition-[box-shadow];
}

@utility focus-ring {
  @apply tw:focus-ring-base tw:focus-visible:ring-brand/50;
}

@utility focus-ring-danger {
  @apply tw:focus-ring-base tw:focus-visible:ring-danger/50;
}
